<?xml version="1.0"?>
<config>
    <modules>
        <Rmch_CatalogCategoryRemoveHref>
            <version>0.1.0</version>
        </Rmch_CatalogCategoryRemoveHref>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>Rmch_CatalogCategoryRemoveHref_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <models>
            <catalog_resource>
                <rewrite>
                    <category_flat>Rmch_CatalogCategoryRemoveHref_Model_Resource_Category_Flat</category_flat>
                </rewrite>
            </catalog_resource>
            <catalog>
                <rewrite>
                    <observer>Rmch_CatalogCategoryRemoveHref_Model_Observer</observer>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <catalogcategoryremovehref_setup>
                <setup>
                    <module>Rmch_CatalogCategoryRemoveHref</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </catalogcategoryremovehref_setup>
            <catalogcategoryremovehref_setup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catalogcategoryremovehref_setup_write>
            <catalogcategoryremovehref_setup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catalogcategoryremovehref_setup_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <catalogcategoryremovehref>
                    <file>catalogcategoryremovehref.xml</file>
                </catalogcategoryremovehref>
            </updates>
        </layout>
    </frontend>
</config>